body{
    background-color: rgba(0, 0, 0, 0.8)
}

#profile_image{
}

.hatlogo{
  left: 20px;
}

.layout{
    
}

.layout{
    color: #5959c4;
    font-family: cursive;
}
table tr:first-child{
    background-color: rgba(250, 250, 250, 0.8)  
}


.myheader {
  text-align: center;
  background-color: white;
}

.bg1{
  background: white;
}

.profile-pic{
    border-radius: 70%;
}

#about{
  text-align: center;
    background-color: pink;
    height: 655px;
    
}

#about-para{
  
}

#mera-logo{
  top:700px;
  height: 469px;
  width: 469px;
}


.carousel-item {
 height: 510px;
    text-align: center;
}


.item1 {
  background-color: lemonchiffon;
  /*height: 100px;*/
}

.item2 {
  background-color:rgb(198, 244, 244);
  /*height: 100px;*/
}

.item3 {
  background-color:wheat;
  /*height: 100px;*/
}

.proj-head{
  color: white;
}

#contac{
  color: whitesmoke;
  text-align: center;
  height : 275px ;
  background-color: rgb(86, 97, 161);
}

.footer_{
  background-color: rgb(240, 232, 232);
  text-align: center;
   height: 30px;
  text-shadow: gray;
}

.social-pic{
    border-radius: 30%;
}
